* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10em;
}

.box-desktop {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -40px;
  left: -93px;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  width: 85%;
  position: relative;
  border-radius: 24px;
  -webkit-box-shadow: 2px 35px 50px -11px rgba(0, 0, 0, 0.49);
  box-shadow: 2px 35px 50px -11px rgba(0, 0, 0, 0.49);
}
.container .hero-container {
  background: url(../images/bg-pattern-mobile.svg) no-repeat;
  background-position: top center;
  position: relative;
  height: 115px;
}
.container .hero-container picture {
  display: block;
  position: absolute;
  width: 266px;
  height: 196px;
  top: -107px;
  left: 50%;
  margin-left: -147px;
}

.content {
  padding: 0.5rem 1rem 2rem 1rem;
}
.content .content-header {
  text-align: center;
}

.dropdowns {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
.dropdowns .dropdowns-option {
  padding: 1rem 0 1rem 0;
}
.dropdowns .dropdowns-option__icon {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  float: right;
}
.dropdowns .dropdowns-option__iconRotate {
  transform: rotate(180deg);
}
.dropdowns .dropdowns-container {
  border-bottom: #e7e7e9 1px solid;
}
.dropdowns .dropdowns-dropdown {
  list-style-type: none;
  padding: 0rem 0 0.8rem 0;
}
.dropdowns .dropdowns-dropdown .dropdowns-dropdown__hidden {
  display: none;
  padding-right: 12px;
}

@media (min-width: 1024px) {
  body {
    padding: 3em 0;
  }

  .dropdowns-option:hover {
    font-weight: 700;
  }

  .box-desktop {
    display: block;
  }

  .container {
    max-width: 950px;
    flex-direction: row;
    column-gap: 2em;
    background: url(../images/bg-pattern-desktop.svg) #fff no-repeat;
    background-size: cover;
    background-position: -550px -275px;
  }
  .container .hero-container {
    flex: 1.2;
    background: none;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .container .hero-container picture {
    top: 77px;
    left: 70px;
  }
  .container .content {
    padding: 3rem 3rem 3rem 0;
  }
  .container .content .content-header {
    text-align: left;
    padding-bottom: 1rem;
  }
  .container .content .dropdowns {
    width: 30vw;
    text-align: left;
    font-size: 14px;
  }
}
.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
