@use "./variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    line-height:1;
}

html {
    background: #ff0084;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $Soft-violet, $Soft-blue);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $Soft-violet, $Soft-blue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: $Font-size;
    box-sizing: content-box;
}

.box-desktop {
    display: none;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 10rem 2rem 1rem 2rem;
    border-radius: 24px;
    -webkit-box-shadow: 2px 35px 50px -11px rgba(0,0,0,0.49); 
    box-shadow: 2px 35px 50px -11px rgba(0,0,0,0.49);

    .hero {
        position: absolute;
        top: 7%;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        left: -18px;
        right: 0;
        text-align: center;
    }
        
    .hero-shadow {
        position: absolute; 
        top: 21%;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        left: 9px;
        right: 0;
        text-align: center;
    }

}

.content {
    margin-top: 6rem;
    padding: 7rem 2rem 4rem 2rem;

    .content-header {
        text-align: center;
        font-size: 2rem;
        line-height: 2em;
    }
}

.dropdowns {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .dropdowns-option {
        padding: 1rem 0 1rem 0;
    }
    
    .dropdowns-option__icon {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        -ms-transition: -ms-transform .3s ease-in-out;
        transition: transform .3s ease-in-out; 
        float: right;
    }

    .dropdowns-option__iconRotate {
        transform: rotate(180deg);
    } 
    

    .dropdowns-container {
        border-bottom: $Light-grayish-blue 1px solid;
    }

    .dropdowns-dropdown{
        list-style-type: none;
        padding: 0rem 0 0.8rem 0;

        .dropdowns-dropdown__hidden{
            display: none;
            padding-right: 12px;
        }
    }
}

@media (min-width: 1024px) {
    .dropdowns-option:hover {
        font-weight: 700;   
    }

    .box-desktop {
        display: block;
        position: absolute;
        top: 41%;
        z-index: 3;
        margin-left: auto;
        margin-right: auto;
        left: -87%;
        right: 0;
        text-align: center;
    }

    .container {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 6rem;
        margin-right: 6rem;
        position: relative;
        overflow: hidden;

        .hero {
            position: absolute;
            top: 13%;
            z-index: 2;
            margin-left: auto;
            margin-right: auto;
            left: -59%;
            right: 0;
            text-align: center;
            width: 40rem;
            content: url("../images/illustration-woman-online-desktop.svg");
        }
        
        .hero-shadow {
            position: absolute;
            top: -42%;
            z-index: 1;
            margin-left: auto;
            margin-right: auto;
            left: -100%;
            right: 0;
            text-align: center;
            content: url("../images/bg-pattern-desktop.svg");
            width: 75rem;
        }

        .content {
        padding: 3rem 2rem 3rem 0;
        margin: 2rem 4rem 4rem 0rem;
        float: right;

            .content-header{
                text-align: left;
                padding-bottom: 1rem;
            }

            .dropdowns {
                width: 30vw;
                text-align: left;
                font-size: 14px;

                .dropdowns-option {
                    padding: 1.8rem 0 1.8rem 0;
                }
            }
        }
    }  
}

@media (min-width: 1440px) { 
    html{
        font-size: 14px;
    }
    .box-desktop {
        left: -82%;
        top: 36%;
        width: 17rem;
    }

    .container {
        margin-left: 10rem;
        margin-top: 5rem;
        margin-right: 10rem;

        .content {
            padding: 0;
            margin-top: 3rem;
        }

        .hero {
            top: 3%;
            left: -68%;
            width: 46rem;
        }

        .hero-shadow {
            top: -49%;
            left: -102%;
            width: 73rem;
        }
    }
}

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

